<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.channing.fighclub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/givair_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.channing.fighclub.ContentActivity"
            android:label="content activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.BaseActivity"
            android:label="base activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.BrandsActivity"
            android:label="brands activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.CategoriesActivity"
            android:label="categories activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.SampleFaceAppActivity2"
            android:label="sample faceapp activity 2 label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.RegisterActivity2"
            android:label="register activity 2 activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.BuyItemActivity"
            android:label="buy item activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.LoginActivity2"
            android:label="login activity 2 activity label" >
        </activity>
        <activity
            android:name="com.channing.fighclub.GiftCardActivity"
            android:label="gift card activity 2 activity label" >
        </activity>
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".DONOTUSEPeopleActivity"
            android:label="people activity label" >
        </activity>
        <activity
            android:name="com.faceapp.SampleFaceAppActivity"
            android:label="sample faceapp activity label" >
        </activity>
        <activity
            android:name="com.example.androidhive.RegisterActivity"
            android:label="register activity label" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>